/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 178%;
  background-color: #fff;
  color: #2D2D2D;
}

img {
  max-width: 100%;
  height: auto;
} 

/* BUTTON */
.button {
  border-radius: 10px;
  text-decoration: none;
}

.button:hover {
  opacity: 0.8;
}
.button:active {
  opacity: 0.5;
}

.button-blue {
  color: #fff;
  background-color: #3366FF;
}

.button-orange {
  padding: 16px 50px;
  color: #2D2D2D;
  background-color: #f8d57e;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1120px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN_CONTENT */
.main-content {
  flex-grow: 1;
}

/* HEADER */
.header {
  padding: 23px 0;
}

.header-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.site-logo-img {
  display: flex;
  width: 154px;
  height: 35px;
}

.reg-user {
  display: flex;
  align-items: center;
  justify-content: center;
}

.singup {
  padding: 0;
  margin: 0;
  color: #2D2D2D;
  text-decoration: none;
}

.button-login {
  padding: 11px 50px;
  margin-left: 30px;
}

.person-reg {
  display: none;
  padding: 2px;
  border-radius: 50%;
  background-color: #3366FF;
}

.person-reg-icon {
  display: flex;
  width: 24px;
  height: 24px;
}

/* HERO */
.hero {
  padding: 70px 0;
  background-color: #f7f5fd;
}

.hero-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.hero-content {
  width: 100%;
  max-width: 466px;
}

.hero-heading {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  line-height: 90px;
}

.hero-text {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  opacity: 0.5;
}


.hero-img {
  width: 500px;
  height: 460px;
  border-radius: 10px;
}


@media 
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  
}


/* RESPONSIVENESS */
@media only screen and (max-width: 550px) {

  /* HEADER */
  .header {
    padding: 22.5px 0;
  }
  
  .reg-user {
    display: none;
  }
  
  .person-reg {
    display: block;
  }
  
  /* HERO */
  .hero {
    padding: 80px 0;
  }
  
  .hero-item {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }
  
  .hero-heading {
    font-size: 50px;
    line-height: 60px;
    text-align: center;
  }
  
  .hero-text {
    text-align: center;
  }
  
  .button-orange {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero-img {
    width: 320px;
    height: 295px;
    border-radius: 6.5px;
  }
  
}

@media only screen and (max-width: 1020px) {
  
  .hero {
    padding: 50px 0;
  }
  
  .hero-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  }
  
  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }
  
  .hero-heading {
    text-align: center;
  }
  
  .hero-text {
    text-align: center;
  }
  
}